.BtnContact {
    border: 2px solid #8FC9F9;
    color: #8FC9F9;
    font-weight: 500;
}

.BtnContact:hover {
    background-color: #8FC9F9;
    color: black;
}

.form-group {
    margin-top: 15px;
}

.form-control {
    margin-top: 5px;
}